
<html xmlns:th="http://www.thymeleaf.org">

<body>

  <div style="min-width: 300px; min-height: 200px; border-radius: 10px; background-color: #fafbff; padding: 18px;">

    <h1>dj.Blog 계정 설정</h1>
    <div style="font-size: 12px; color: rgba(0, 0, 0, 0.4);">
      아래에 계정의 정보가 표시됩니다.
    </div>
    <div style="margin-top: 32px; border: 1px solid rgba(0, 0, 0, 0.2); padding: 16px;">
      임시 비밀번호 : <span style="font-weight: 700; font-style: italic;" th:text="${code}"></span>
    </div>
  </div>

  

</body>
</html>